<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout::head}">
</head>
<body>
<nav th:replace="~{layout::menu}" ></nav>
<div class="card">
    <div class="card-header">
        Lista de Examen
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre Del Curso</th>
                <th scope="col">Credito</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="examen:${listaexamen}">
                <td th:text="${examen.idcurso}"></td>
                <td th:text="${examen.nomcurso}"></td>
                <td th:text="${examen.credito}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>